# Python
venv/
backend/venv/
__pycache__/
*.pyc

# Backend build & cache
*.log

# Flutter
**/build/
.dart_tool/
.packages
.pub-cache/
flutter_export_environment.sh

# OS junk files
.DS_Store
Thumbs.db
